*{
    margin: 0;
    padding:0;


}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font: bold 12px Arial, Helvetica, sans-serif;
    background-color: black;
}
.clock
{
   
    border: 1px solid grey;
    color: white;
    padding: 40px;
    border-radius: 12px;
    background: linear-gradient(-45deg, red,green,blue,yellow);
    background-size: 400% 400%;
    width: 100%;;
    height:20vh;

}
#Date{
    font-size: 20px !important;
    text-align: center;

}
.clock ul {
    list-style:none;
    display: flex;
    font-size: 90px;
    gap: 13px;

}
.copy_right_footer {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: rgb(74, 72, 65);
    line-height: 3;
    text-align: center;
}
